<a href="https://colab.research.google.com/github/EpikTejas/Python-Problems/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("Enter a number: "))

if a > 0:
    print("The number is Positive")
else:
    print("The number is negative")

Enter a number: -4
The number is negative

In [ ]:
a = int(input("Enter a number: "))

if a > 0:
    print("The number is Positive")
elif a < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number: 0
The number is Zero

In [ ]:
a = int(input("Enter a number: "))
b = a%2

if b == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 2
The number is even

In [ ]:
a =

In [ ]:
a = input("Enter an alphabet: ")

if a in ('a', 'e', 'i', 'o', 'u'):
    print("The alphabet is a vowel.")
else:
    print("The alphabet is a consonant.")

Enter an alphabet: a
The alphabet is a vowel.

In [ ]:
#WAP to given year is leap year
a = int(input("Enter a number: "))
if a%4==0 and a%100!=0 or a%400==0 :
    print("The number is leap")
else:
    print("The number is not leap")

Enter a number: 1800
The number is not leap

In [ ]:
import datetime

# Get the current date and time
current_date = datetime.datetime.now()

# Format the date to get the full name of the day of the week
day_of_week = current_date.strftime("%A")

print(f"Today is {day_of_week}.")

In [ ]:
a = int(input("Enter a number for the day of the week : "))

if a == 1:
    print("The day is Monday.")
elif a == 2:
    print("The day is Tuesday.")
elif a == 3:
    print("The day is Wednesday.")
elif a == 4:
    print("The day is Thursday.")
elif a == 5:
    print("The day is Friday.")
elif a == 6:
    print("The day is Saturday.")
elif a == 7:
    print("The day is Sunday.")
else:
    print("Invalid input. Please enter a number between 1 and 7.")

Enter a number for the day of the week : 5
The day is Friday.

In [ ]:
# electricity bill calculation

In [ ]:
units = int(input("Enter the number of units consumed: "))

total_bill = 0

if units <= 100:
    total_bill = units * 3
elif units <= 200:
    total_bill = (100 * 3) + ((units - 100) * 5)
else:
    total_bill = (100 * 3) + (100 * 5) + ((units - 200) * 7)

print(f"Your electricity bill is: Rs. {total_bill}")

Enter the number of units consumed: 500
Your electricity bill is: Rs. 2900

In [ ]:
#bus fre calculation
dis=int(input("age of traveller"))
if dis<5:
  print("free ticket")
elif dis>5 & dis>12:
    print("half ticket")
elif dis>13 & dis<60:
      print("full ticket")
elif dis>=60:
        print("semiour 30%off")

age of traveller85
full ticket

In [ ]:
#print 1st 10 natural numbers
for i in range(1,11,1):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
#print square of number fron 1-n
n=int(input("enter a number "))
for n in range(1,n+1):
  print(n*n)

enter a number 5
1
4
9
16
25

In [ ]:
n=int(input("enter the number: "))
even_sum = 0
odd_sum = 0

for i in range(1, n + 1):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print(f"Sum of even numbers up to: {even_sum}")
print(f"Sum of odd numbers up to: {odd_sum}")

enter the number: 10
Sum of even numbers up to: 30
Sum of odd numbers up to: 25

In [ ]:
n=int(input("enter number "))
sum=0
for i in range(1,n+1):
  sum +=i
print(sum)

enter number 5
15

In [ ]:
num = int(input("Enter a number between 0 and 9: "))

numbers = {
    0: "Zero",
    1: "One",
    2: "Two",
    3: "Three",
    4: "Four",
    5: "Five",
    6: "Six",
    7: "Seven",
    8: "Eight",
    9: "Nine"
}

if num in numbers:
    print(numbers[num])
else:
    print("Number is outside of range")
    exit()

Enter a number between 0 and 9: 5
Five

FUNCTIONS

In [ ]:
#find square of a number

In [ ]:
def find_largest(num1, num2, num3):
    if (num1 >= num2) and (num1 >= num3):
        largest = num1
    elif (num2 >= num1) and (num2 >= num3):
        largest = num2
    else:
        largest = num3
    print(f"The largest number among {num1}, {num2}, and {num3} is: {largest}")

In [ ]:
#count vovwel in string using funtion

In [ ]:
text = "hello"
vowels = ['a', 'e', 'i', 'o', 'u']

def count(text):
    v = 0
    for i in text:
        if i in vowels:
            v += 1
    return v

print(count(text))

2

In [ ]:
Write a function to concatenate a string

In [ ]:
def concatenate_strings(str1, str2):
    return str1 + str2

# Example usage:
string1 = "Hello, "
string2 = "world!"
combined_string = concatenate_strings(string1, string2)
print(combined_string)

In [ ]:
#write a function to delete an element

In [ ]:
n=int(input())
def fibonacci(n)

Enter the number of terms for the Fibonacci series: 8
Fibonacci series:
0
1
1
2
3
5
8
13

In [ ]:
def minimumSwap(s1, s2):
    x = y = 0

    for a, b in zip(s1, s2):
        if a == '0' and b == '1':
            x += 1
        elif a == '1' and b == '0':
            y += 1

    if (x + y) % 2 != 0:
        return -1

    return x//2 + y//2 + 2*(x % 2)